.titleSection {
  background-color: #2a333c;
  padding: 1rem 2rem;
  h2 {
    color: #fff;
    font-weight: 700;
    margin-bottom: 0;
  }
  h6 {
    color: #00aeef;
    margin-top: 0;
    span {
      color: #fff;
    }
  }
}
